body {
	background-color: aliceblue;
}

.container-fluid {
	padding: 0px;
}

.homenav {
	list-style-type: none;
	text-align: center;
	background-color: #73B1B7;
	padding: 5px;
	border-style: solid;
	border-color: darkblue;
}

.homenav li {
	display: inline;
	padding-right: 50px;
	font-size: 20px;
	font-family: 'Patrick Hand', cursive;
}

a {
	color: darkblue;
}


.header {
	text-align: center;
	background-color: teal;
	color: white;
	padding: 5px;
	font-family: 'Patrick Hand', cursive;
	border-radius: 10px;
}

.header h1 {
	font-size: 100px;
}

.shelter-info {
	margin-top: 20px;
	font-size: 16px;
}

